@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 15px 20px;
  }
  
  .header-title {
    font-size: 18px;
  }
  
  .nav {
    display: flex;
    gap: 10px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .nav-link:hover {
    background-color: #575757;
  }